* {
    margin: 0;

}
#myCanvas{
    
    border: 1px solid #000000;
    background-color: rgb(213, 251, 213);
}
.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hide{
    display: none;
}
.red {
    color: red;

}
